<!-- admin/home.html -->
<!DOCTYPE html>
<html lang="pt-BR" th:replace="~{fragment/base :: layout (~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <h1 th:text="#{admin.home.title}">Painel Administrativo</h1>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="#" th:href="@{/admin/user/}"
           th:text="#{admin.home.users}">
            Gerenciar Usuários
        </a>
        <a class="list-group-item list-group-item-action" href="#" th:href="@{/admin/post/}"
           th:text="#{admin.home.posts}">
            Gerenciar Postagens
        </a>
        <a class="list-group-item list-group-item-action" href="#" th:href="@{/admin/comment/}"
           th:text="#{admin.home.comments}">
            Gerenciar Comentários
        </a>
    </div>
</div>
</body>
</html>
