<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout (contet)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Home Page of Spring Boot Blog Application">
    <meta name="keywords" content="spring,boot,blog,home,application">
    <title th:text="'Blog :: Home'">Blog :: Home</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}" th:text="#{base.home}">Home</a>
        <ul class="navbar-nav ml-auto">
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="POST">
                    <button type="submit" class="nav-link btn btn-primary">
                        <span th:text="#{base.logout}">Logout</span> <span sec:authentication="name">Username</span>
                    </button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/register}" th:text="#{base.register}">Register</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/auth}" th:text="#{base.authentication}">Authentication</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/posts/new}" th:text="#{base.newPost}">New Post</a>
            </li>
        </ul>
    </div>
</nav>
<main class="container mt-4">
    <header class="mb-4">
        <h1 th:text="#{base.blog.name}">Spring Boot Blog Application</h1>
    </header>
    <div th:insert="${contet}">

    </div>
</main>
</body>
</html>
