<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="??? Error Page">
    <meta name="keywords" content="blog,???,error,not found">
    <title th:text="'Blog :: ??? Error'">Blog :: ???</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}" th:text="#{base.home}">Home</a>
    </div>
</nav>
<main class="container mt-4">
    <header>
        <h1 th:text="#{error.server.error.title}">Unknown error.</h1>
        <hr/>
    </header>
    <p th:text="#{error.server.error.text}">Sorry, an unexpected unknown error occurred.</p>
</main>
</body>
</html>
