<!-- admin/comments/form.html -->
<!DOCTYPE html>
<html lang="pt-BR" th:replace="~{base :: layout (~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <h2 th:text="${comment.code} != null ? 'Editar Comentário' : 'Criar Novo Comentário'">Formulário de Comentário</h2>
    <form method="post" th:action="${comment.code} != null ? @{/admin/comment/update/} : @{/admin/comment/save/}"
          th:object="${comment}">
        <input th:field="*{code}" type="hidden"/>
        <div class="mb-3">
            <label class="form-label" for="text">Comentário</label>
            <textarea class="form-control" id="text" placeholder="Texto do Comentário" rows="5"
                      th:field="*{text}"></textarea>
            <div class="invalid-feedback" th:errors="*{text}" th:if="${#fields.hasErrors('text')}">Erro no Comentário
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="post">Postagem</label>
            <select class="form-control" id="post" th:field="*{post.code}">
                code                </option>
            </select>
            <div class="invalid-feedback" th:errors="*{post}" th:if="${#fields.hasErrors('post')}">Erro na Postagem
            </div>
        </div>
        <button class="btn btn-primary" th:text="${comment.code} != null ? 'Atualizar' : 'Salvar'" type="submit">
            Salvar
        </button>
        <a class="btn btn-secondary" th:href="@{/admin/comment/}">Cancelar</a>
    </form>
</div>
</body>
</html>
